{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load widget_tweaks %}

{% block title %}{% trans "重置密码" %}{% endblock %}

{% block wrapper %}

    <h3 class="text-center">{% trans "重置密码" %}</h3>
    {#    {% if user.is_authenticated %}#}
    {#    {% include "account/snippets/already_logged_in.html" %}#}
    {#    {% endif %}#}
    <small id="passwordHelpBlock" class="form-text text-muted">
        {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
    </small>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:'form-control'|append_attr:'autofocus=autofocus' }}
                {% for error in field.errors %}
                    <small style="color: red" class="help-block">{{ error }}</small>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="form-group">
            <input type="submit" class="btn btn-success form-control" value="{% trans 'Reset My Password' %}"/>
        </div>
    </form>
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
