{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block wrapper %}
    <h3 class="text-center">{% trans "Change Password" %}</h3>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:'form-control'|append_attr:'autofocus=autofocus' }}
                {% for error in field.errors %}
                    <small style="color: red" class="help-block">{{ error }}</small>
                {% endfor %}
            </div>
        {% endfor %}

        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}

        <div class="form-group">
            <button type="submit" class="btn-success btn form-control"
                    name="action">{% trans "Change Password" %}</button>
        </div>
    </form>

{% endblock %}
