{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    {{ user.username }}的个人信息
{% endblock %}
{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-3 mx-auto p-4 border border-success mt-5 rounded shadow">
                <div class="text-center form-group">
                    {% if user.profile.avatar %}
                        <img class="rounded-circle avatar-img" src="{{ user.profile.avatar.url }}" alt="">
                    {% else %}
                        <img class="rounded-circle avatar-img" src="{% static 'img/defaultavatar.png' %}" alt=""
                             style="width: 100px;height: 100px">
                    {% endif %}
                </div>
                <div class="text-center form-group">
                    <input class="form-control-plaintext text-justify" type="text"
                           placeholder="用户名： {{ user.username }}" readonly>
                    <input class="form-control-plaintext text-justify" type="text" placeholder="邮箱： {{ user.email }}"
                           readonly>

                </div>
                <form id="avatar-form" enctype="multipart/form-data">
                    <input type="file" id="avatar" name="avatar" hidden onchange="uploadImg()">
                    <div class="form-group">
                        <button type="button" class="btn btn-success form-control" onclick="getClick()">上传头像</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script src="{% static 'csrf.js' %}"></script>
    <script>
        function getClick() {
            $('#avatar').click();
        }
        {#使用ajax上传头像#}
        function uploadImg() {
            console.log('start');
            $.ajax({
                url: "{% url 'userprofile:profile' %}",
                type: "POST",
                cache: false,
                async: false,
                data: new FormData($('#avatar-form')[0]),
                contentType: false,
                processData: false,
                dataType: "json",
                success: function (data) {
                    {#console.log(data);#}
                    $(".avatar-img").attr("src", data.avatarurl)
                },
            });
        }
    </script>

{% endblock %}