{% load staticfiles %}
<div>
    <br><br><br>
</div>
<nav class="py-3 bg-light navbar-dark bg-dark text-white" id="footer">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="row justify-content-center">
                    <h3>
                        <a class="text-success" href="mailto:2458045752@qq.com" title="发邮件给博主"><i class="fas fa-envelope"></i></a>
                    </h3>
                </div>
                <p>Copyright &copy; www.zfnotes.com</p>
                <p>
                    <span>基于Django2.2+Bootstrap4开发</span>
                    <span class="mx-2">|</span>
                    <span>始建于2019-08-25</span>
                    <span class="mx-2">|</span>
                    <span>部署于阿里云</span>
                </p>
            </div>
        </div>
    </div>
</nav>